body {
    background-color: #101820;
    color: #f2aa4c;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-left: 8px;
    background: #f2aa4c;
    color: #101820;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.movie-box {
    margin-top: 20px;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
}

.movie-box img {
    width: 150px;
    border-radius: 10px;
}